CREATE TABLE third_place_combination (
    option_id INTEGER PRIMARY KEY,
    p79 VARCHAR(1) NOT NULL,
    p85 VARCHAR(1) NOT NULL,
    p81 VARCHAR(1) NOT NULL,
    p74 VARCHAR(1) NOT NULL,
    p82 VARCHAR(1) NOT NULL,
    p77 VARCHAR(1) NOT NULL,
    p87 VARCHAR(1) NOT NULL,
    p80 VARCHAR(1) NOT NULL
);

